<div class="hp-secondary swoop">
  <div class="inner">
    <h2>Why Mansfield?</h2>
    <p>The Statistics: Highlight key business-related statistics that make Mansfield an appealing location.</p>
    <p>Local Resources: Briefly list local business parks, amenities, and government incentives for businesses.</p>
  </div>
</div>